.about-module{
    display:block;
    position:relative;
    margin:0;
    box-sizing: border-box;
    text-align: center;
    padding:80px 0px 40px 0px;
    @include atMedium{
      height:100vh;
      display:inline-block;
      padding:0;
    }


  &__profile-image{
    width:150px;
    border-radius: 50%;
  }

  &__content{
    font-size: 1.3em;

    width:100%;
    min-height:300px;
    box-sizing: border-box;

    &--left{
      padding-right:0px;

      @include atSmall{
        padding-right:30px;
      }
    }

    @include atMedium{
      position:absolute;
      top:50%;
      left:50%;
      transform:translate(-50%,-50%);

    }


  }

  &__header{
    color:$mainGold;
    font-weight:100;
  }

  &__text-content{
    font-weight: 100;
  }




}
