.section{
  width:100%;
  height:100vh;
  min-height: 600px;
  padding:0;
  margin:0;
  overflow:hidden;
  position:relative;


  &--about{
      height:100%;
      width:100%;
      color:white;
      background-color:$darkGrey;
      box-sizing: border-box;
      padding-bottom:100px;

      @include atMedium{
        padding:0;
      }


  }

  &--portfolio{
    background-image: url("../images/cityblur.jpg");
    background-size: cover;
    font-size: 0;
    text-align:right;
    min-height:100vh;
    height:auto;
    padding: 80px 0px;
  }

  &--contact{
    background-color: $darkGrey;
    text-align: center;
    color:$mainGold;
    font-weight:100;
  }

}
