.social-links{
padding:0;

  & ul{
    margin:0;
    padding:0;
    padding-top:8px;
    font-size:0;

    @include atSmall{
      padding-top:15px;
    }

  }

  &__list-item{
  list-style-type: none;
  display:inline-block;
  padding:0;
  padding-right: 8px;
  opacity:.4;
  transition: all .3s ease;

  @include atMedium{
    padding-right:10px;
  }



  &:hover{
    padding-right:8px;
    opacity:1;
  }

  @include atSmall{
    &:hover{
      padding-right:25px;
    }
  }


  }

  &__link{
  height:22px;
  width:22px;

  @include atSmall{
    width:25px;
    height:25px;
  }

  @include atMedium{
    width:30px;
    height:30px;
  }



  }
}
